#calendar {
  color: #fff !important;

  .fc-axis, .fc-day-header {
    color: #fff !important;
  }

  button.fc-today-button.fc-button.fc-state-default.fc-corner-left.fc-corner-right.fc-state-disabled {
    background-color: #fff !important;
  }

  .fc-day-grid {
    height: 25px;

    .fc-axis.fc-widget-content {
      vertical-align: top;
    }
  }

  .fc-today {
    background-color: #444;
  }

  .fc-event {
    background-color: #206616;
    border: 1px solid #aaa;
    padding: 3px;
  }

  .fc-toolbar {
    padding: 0 20px;
  }

  .fc-bg {
    background: none;
  }
}

