$main-bgc: #000;
$tile-bgc-dark: #333;
$tile-bgc-light: #bbb;
$big-tiles-per-row: 4;
$tile-width-big: 110px;
$tile-width-small: 50px;

.rm-Dashboard {
  display: block;
  background: $main-bgc;
  padding-top: 30px;
  color: #fff;
  min-height: 90%;
}

.rm-Dashboard_Column {
  min-height: 50%;
  max-height: 100%;
  float: left;
}

.rm-Dashboard_Column-left {
  width: 25%;
//  border-right: 1px solid red;
}

.rm-Dashboard_Column-center {
  width: 50%;
//  border-right: 1px solid red;
}

.rm-Dashboard_Column-right {
  width: 25%;
}

.rm-Dashboard_Row {
 width: 100%;
 height: $tile-width-small;
 margin-bottom: 15px;
 padding-right: 21px;
 text-align: right;
}

.rm-Dashboard_Row-right {
  text-align: right;
}

.rm-Dashboard_Row-big {
 height: $tile-width-big;
}

.rm-Dashboard_Tile {
  position: relative;
  display: inline-block;
  width: $tile-width-small;
  height: $tile-width-small;
  background: $tile-bgc-dark;
  border: 1px solid #fff;
  margin-right: 6px;
  cursor: pointer;
  transition: all .2s ease-in-out;

  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
}

.rm-Dashboard_Tile:hover {
  transform: scale(1.1);
}

.rm-Dashboard_Tile-small:hover {
  transform: scale(1.2);
}

.rm-Dashboard_Tile-small:nth-child(even) {
  margin-right: 30px;
}

.rm-Dashboard_Tile:last-child, .rm-Dashboard_Tile-big:last-Child {
  margin-right: 0;
}

.rm-Dashboard_Tile {
  .rm-Dashboard-light & {
    background: $tile-bgc-light;
  }
}

.rm-Dashboard_Tile-big {
  width: $tile-width-big;
  height: $tile-width-big;
  margin-right: 7px;
}

.rm-Dashboard_Tile-toggleNav {
  background-image: url('../assets/hide-nav.svg');

  &.active {
    background-image: url('../assets/show-nav.svg');
    background-color: #5E5E5E;
  }
}

.rm-Dashboard_Tile-toggleFullscreen {
  background-image: url('../assets/maximize.svg');

  &.active {
    background-image: url('../assets/end-fullscreen.svg');
    background-color: #5E5E5E;
  }
}

.rm-Dashboard_Tile-toggleLight {
  background-image: url('../assets/light-off.svg');
  background-size: 100%;

  &.active {
    background-image: url('../assets/light-on.svg');
    background-color: #900;
  }
}

.rm-Dashboard_Tile-toggleColorWheel {
  background-image: url('../assets/rgb.svg');
}

.rm-Dashboard_Tile-toggleGuest {
  background-image: url('../assets/guest.svg');

  &.active {
    background-image: url('../assets/guest.svg');
    background-color: #5E5E5E;
  }
}

.rm-Dashboard-ColorWheel {
  width: 45vw;
  height: 0 !important;
  background-color: #333;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -20vw; /* Negative half of height. */
  margin-left: -20vw; /* Negative half of width. */
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.rm-Dashboard-ColorWheel.active {
  display: block;
  height: 45vw !important;
}
