html {
  background: #000;
}

body {
  font-family: 'Source Code Pro', sans-serif;
  font-size: 200%;
  text-align: center;
  background: #000 !important;
  height: 100%;
  color: rgb(64, 65, 55);
}

h1 {
  line-height: 1.0;
}

h2 {
  line-height: 1;
}

.title {
  line-height: 0.5;
  margin: 20px;
}

.toggle {
  width: 100%;
}

.toggle button{
  float: none;
  font-size: 150%;
  height: auto;
  width: 350px;
  margin-bottom: 10px;
}

#properties {
  width: 100%;
  margin-bottom: 20px;
}

#properties input {
  font-size: 100%;
}

.property {
  height: 44px;
  width: 60%;
  position: relative;
  left: 50vw;
  transform: translateX(-50%);
  float: none;
}

#properties.index .property {
  display: block;
}

button {
  height: 44px;
  font-size: 80%;
  color: rgb(64, 65, 55);
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #404137 1px;
  text-decoration: none;
}

button:hover {
  background: rgba(131, 205, 41, 0.7);
  text-decoration: none;
}

button.active {
  background: rgba(131, 205, 41, 1);
  color: #83cd29;
}

#alert {
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  position: fixed;
  vertical-align: middle;
  font-size: 25px;
  padding: 15px;
  color: #000;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  z-index: 3;
  display: none;
}

#alert.success {
  display: block;
  opacity: 1;
  background: rgba(200, 255, 200, 0.6);
}

#alert.error {
  display: block;
  opacity: 1;
  background: rgba(255, 200, 200, 0.6);
}

.menu {
  top: 0;
  left: 0;
  width: 100%;
  max-height: 50px;
  background: #fff;
  font-size: 90%;
  font-weight: bold;
  z-index: 100;
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.menu.closed {
  max-height: 0;
}

.menu ul {
  margin: 0;
  float: right;
  list-style-type: none;
}

.menu li {
  text-decoration: none;
  float: left;
  padding: 18px 30px 10px 30px;
  color: #000;
  border-left: 1px solid #000;
  box-sizing: border-box;
  height: 50px;
}

.menu a:hover li {
  background: rgba(230, 230, 230, 0.5);
}

.menu a:active li {
  background: #aaa;
}

.menu a:nth-child(1) li {
  border-left: none;
}

.menu .logo {
  width: 40px;
  height: 40px;
  margin: 6px 0 0 8px;
  float: left;
  background: url(/assets/small-logo.png) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.index-logo {
  margin: 0 auto;
  width: 100%;
  height: auto;
  min-height: 80%;
  background: url(/assets/logo.png) no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.dashboard {
  display: block;
  background: #333;
  margin-top: 45px;
  padding-top: 15px;
  color: #fff;
  height: 100%;
}

.dashboard.white {
  background: #eee;
}

.dashboard .col {
  height: 110vh;
  padding-top: 30px;
  float: left;
}

.dashboard .col.left {
  width: 25%;
  background: #009;
}

.dashboard .col.center {
  width: 50%;
  background: #900;
}

.dashboard .col.right {
  width: 25%;
  background: #080;
}

.dashboard-tile_big {
  background: #000;
  width: 30px;
  height: 30px;
}

.dashboard input, .dashboard button {
  color: #000;
}

.dashboard .toggle button {
  width: 173px;
}

.dashboard .settings {
  clear: both;
  margin-top: 100px;
  margin-bottom: 100px;
}

#weather-widget {
  background: #333;
  width: 345px;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  //transform: translateY(-50%);
}


#colorwheel {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 30px;
}

#color-input {
  font-size: 120%;
  margin-bottom: 60px;
  text-align: center;
}

#dev-footer {
position: fixed;
bottom: 20px;
height: 10px;
padding: 20px;
display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
